# Enable Home Assistant API
api:
  encryption:
    key: "base64 goes here"

# Enable esphome OTA API
ota:
  password: "something clever"

wifi:
  ssid: "my-cool-wifi-ssid"
  password: "my-cool-psk-secret"
  # force domainname used for OTA updates/logs if <devicename>.local doesn't work on your LAN
  domain: ".lan"
